[submodule "deps/migen"]
	path = deps/migen
	url = https://github.com/m-labs/migen.git
[submodule "deps/valentyusb"]
	path = deps/valentyusb
	url = https://github.com/im-tomu/valentyusb.git
[submodule "deps/litex"]
	path = deps/litex
	url = https://github.com/enjoy-digital/litex.git
